body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
  font-size: 22px;
}

.small-para {
  font-size: 12px;
  font-weight: 1000;
}

.para {
  font-weight: 1000;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
}

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.child {
  color: red;
  font-weight: 1000;
  font-size: 10px;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 100;
}

/* div.text.child {
  color: red;
  font-size: 12px;
  font-weight: 300;
} */
